<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <div class="jumbotron">
        <h1>Fábrica de Doações</h1>
        <p>Encontre instituições em sua cidade, e faça suas doações.</p>
        <%= form_tag(search_path, method: 'get', class: 'form-inline') do %>
        <div class="form-group">
          <%= label_tag(:q, "Pesquisar:") %>
          <%= text_field_tag(:q, nil, class: 'form-control',
                             placeholder: 'Digite uma cidade...') %>
        </div>
        <%= submit_tag('Pesquisar', class: 'btn btn-primary') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
