<div class="row">
  <div class="col-md-12">
    <h1>Resultado da pesquisa para <%= @query %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render @institutions %>
  </div>
</div>
