<h1>Confirmação de Doação</h1>
<hr>
<% if @donation.institution.collect_donations? %>
  <p>A instituição entrará em contato para agendar a coleta da sua doação.</p>
<% end %>
<p>
Obrigado <%="#{@donation.name}"%> (<%= @donation.mail%>), <br>
Sua doação de <%= @donation.type_of_donation %> será muito bem vinda para a 
instituição <%= @donation.institution.name %>
</p>
