<h1>ModelMailer#new_record_notification</h1>

<p>
  Doador: <%= @donation.name %><br>
  Email do doador: <%= @donation.mail %><br>
  Telefone do doador: <%= @donation.phone %><br>
  Tipo de doação: <%= @donation.type_of_donation %><br>
</p>
